absl-py==1.3.0
asgiref==3.7.2
astunparse==1.6.3
beautifulsoup4==4.12.2
bower==0.0.0
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.2.0
certifi==2021.10.8
cffi @ file:///opt/concourse/worker/volumes/live/976f8942-f51d-4f0e-7352-2a10f0820d0e/volume/cffi_1625814703974/work
chardet @ file:///opt/concourse/worker/volumes/live/7e1102c4-8702-40f2-63d6-f260ce5f85e4/volume/chardet_1607706831384/work
conda==4.11.0
conda-package-handling @ file:///opt/concourse/worker/volumes/live/8fb3e065-760b-4a9d-4cd9-aca7fc8baf53/volume/conda-package-handling_1618262145611/work
cryptography @ file:///opt/concourse/worker/volumes/live/d5dda287-c0b3-4861-7262-fab05baa64dc/volume/cryptography_1616769284011/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Django==4.2.2
flatbuffers==23.5.26
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1637702816591/work
gast==0.4.0
git-lfs==1.6
google-auth==2.15.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.51.1
Gutenberg==0.4.0
h5py==3.9.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
importlib-metadata==4.12.0
isodate==0.6.1
jax==0.4.12
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
keras==2.12.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635836812195/work
libclang==16.0.0
Markdown==3.4.1
markdown2==2.4.2
MarkupSafe==2.1.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1637205351648/work
ml-dtypes==0.2.0
mlxtend @ file:///home/conda/feedstock_root/build_artifacts/mlxtend_1630675403151/work
munkres==1.1.4
numpy==1.22.4
oauthlib==3.2.2
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.4
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1602493101794/work
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
rdflib==6.3.2
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.1
rsa==4.9
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1636784112372/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1637806788365/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve==2.4.1
sqlparse==0.4.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
typing-extensions==4.6.3
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.8.1
